@import "fonts.css";
@import "rightPanel.css";

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a:focus,
a:active {
  outline: none;
}

.container {
  display: flex;

  width: 850px;
  height: 760px;
  margin: auto;

  padding-top: 5rem;
}

.left-panel {
  flex-basis: 50%;
  height: 100%;
}

.phone {
  width: 100%;
  height: 618px;
  position: relative;
  display: inline-block;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: 0 -15px;
}

.phone-content {
  position: absolute;
  top: 85px;
  left: 150.5px;
  width: 247px;
  height: 427px;
  background-repeat: no-repeat;
}

.signup-card {
  background-color: #fff;
  width: 85%;
  margin: 0 auto 0 auto;
  border: 1px solid #00000020;
  text-align: center;
  padding: 25px 0;
  font-size: 0.9rem;
}

.signup-card span {
  font-weight: 100;
}

.signup-card a {
  text-decoration: none;
  color: #42a7f7;
  font-weight: 500;
}

.get-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-app span {
  font-size: 0.9rem;
  margin-top: 20px;
}

.get-app .stores {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.get-app .stores img {
  outline: none;
  width: 163px;
  height: 48px;
}

.get-app .stores a:focus {
  outline: none;
}

.get-app .stores a:active {
  outline: none;
  opacity: 0.5;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.footer .links {
  flex-basis: 75%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  line-height: 2rem;
}

.footer .links a {
  color: #00376b;
  margin: 0px 5px;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
}

.footer .links a:active {
  opacity: 0.6;
}

.footer .trademark {
  flex-basis: 25%;
  text-align: center;
}

.footer .trademark span {
  color: #8e8eaa;
  font-weight: 500;
  font-size: 0.75rem;
}

@media screen and (max-width: 850px) {
  .left-panel {
    display: none;
  }

  .container {
    width: 100%;
    height: 700px;
    padding-top: 1rem;
  }
  .right-panel {
    flex-basis: 100%;
  }

  .login-form {
    width: 360px;
    height: auto;
    margin: 0 auto 0 auto;
  }

  .signup-card {
    width: 360px;
    margin-top: 10px;
  }

  .footer {
    flex-direction: column;
    margin: 0 auto;
    width: 360px;
  }
}

@media screen and (max-width: 1050px) {
  .footer {
    flex-direction: column;
  }

  .footer .links {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .footer {
    flex-basis: 100%;
  }

  .footer .trademark {
    margin-bottom: 20px;
  }
}
